@charset "utf-8";

/* slider */
.slider {width: 100%; height: 600px; text-align: center;}
.slider > a > img {width: 1900px;}

section {text-align: center;}
.main_slider {margin: 40px auto; width: 100%; height: 330px;}
.main_content_slider_ban {margin: 0 auto; width: 1200px; height: 330px; position: relative; box-shadow: 0px 6px 5px 4px #ececec; position: relative; margin: 0 auto; overflow: hidden;}
.main_content_slider_ban > a > img {float: left; margin: 0 0px 0 0;}

.notice {float: right; display: inline-block; width: 280px; height: 330px;}

.slider {width: 1900px; height: 480px; position: relative; margin: 0 auto; overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */ left: 0;}

.slider input[type=radio] {display: none;}
ul > .imgs {padding: 0; margin: 0; list-style: none;}

.imgs > li{position: absolute; left: 640px; transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */ padding: 0; margin: 0 auto;}

.imgs > li > a > img {display:block; margin:auto;}

.bullets {position: absolute; left: 50%; transform: translateX(-50%); bottom: 20px; z-index: 2;}

.bullets label {display: inline-block; border-radius: 50%; background-color: rgba(0,0,0,0.55); width: 10px; height: 10px; cursor: pointer;}
/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type=radio]:nth-child(1):checked ~ .bullets > label:nth-child(1) {background-color: #fff;}
.slider input[type=radio]:nth-child(2):checked ~ .bullets > label:nth-child(2) {background-color: #fff;}
.slider input[type=radio]:nth-child(3):checked ~ .bullets > label:nth-child(3) {background-color: #fff;}
.slider input[type=radio]:nth-child(4):checked ~ .bullets > label:nth-child(4) {background-color: #fff;}

.slider input[type=radio]:nth-child(1):checked ~ .imgs > li:nth-child(1) {left: 0%; transition: 0.5s; z-index:1;}
.slider input[type=radio]:nth-child(2):checked ~ .imgs > li:nth-child(2) {left: 0%; transition: 0.5s; z-index:1;}
.slider input[type=radio]:nth-child(3):checked ~ .imgs > li:nth-child(3) {left: 0%; transition: 0.5s; z-index:1;}
.slider input[type=radio]:nth-child(4):checked ~ .imgs > li:nth-child(4) {left: 0%; transition: 0.5s; z-index:1;}




/*
.notice:after {background-color: ; top:0; left:0; position:absolute; background-size:100%;opacity:0.5!important; filter:alpha(opacity=50); z-index:-1; content:""; width:100%; height:100%;}
*/
.notice > h3 {font-size: 16px; font-weight: bold; margin: 40px 0 0 15px;}

.notice > ul {background-color: #fff; width: 300px; height: 230px; margin: 20px 0 0 2px;line-height: 20px;}
.notice > ul > li {margin: 10px 0 0 0px;}
.notice > ul > li > a {color: black; text-decoration: none; font-size: 13px;}

.item_box {width: 1200px; height: 500px; margin: 40px auto 0; text-align: center; position: relative;}
.item_box > h3 {display: inline-block; margin: 50px 0 0 0; width: 100%; font-size: 17px;  font-weight: bold;}
.item_box:nth-child(4) {height: 460px;}
.item_box:nth-child(4) > h3 {margin: 0;}
.item_box:nth-child(5) > h3 {margin: 0;}
.item_box > .item_content { width: 200px; height: 298px; margin: 50px 50px; float: left; text-align: left;
-webkit-transition: .2s ease-in-out;transition: .2s ease-in-out;-webkit-backface-visibility: hidden;}

.item_content:hover {display: inline-block; width: 200px; height: 298px; margin: 30px 50px 0 50px;}
.item_content:hover .dc {position:absolute; background:#333; line-height:30px;font-size:12px;color:#fff; text-align:center; border:1px solid #333; border-top:1px solid #333;}
.item_box > span {text-align: center; display: block; font-size: 12px; margin: 10px; color: #555;}


.item_content > .dc {display: inline-block; background-color: #fff; width: 45px; height: 30px; float: left; border: 1px solid #ddd; border-top: 1px solid #333; position: absolute; margin: 10px -5px; text-align: center;}
.dc > span {font-size: 12px; line-height: 30px;}


.item_content > strong {margin: 20px 0 10px 0; display: inline-block; line-height: 20px;}
.item_content > strong > a {color: black; text-decoration: none; font-size: 14px; font-weight: bold;}
.item_content > a > img {width: 190px;}
.item_content > .monney > p {text-decoration: line-through; display: inline-block; margin: 10px 10px 10px 0; font-size: 12px;}
.item_content > .monney > strong {margin: 0 0 10px 0; display: inline-block; font-weight: bold;}

.monney > .review_star > a > img:after {content: "(12)"; color: ;}

.item_box > #view_more {background-color: #fff; border: 1px solid #ced4da; display: inline-block; float: right; margin: -25px 0; font-size: 11px; width: 60px; height: 25px; font-weight: bold;}
.item_box > #view_more:hover {cursor: pointer;}

.item_box > .more_box {width: 100%; height: 10px; border-bottom: 1px solid #ced4da; margin: 400px 0 0 0; text-align: center;}
.item_box > #plus_button {width: 90px; height: 30px; display: block; margin: -2px auto; border: 1px solid #ced4da; border-top: none; background-color: #fff;}
.item_box > #plus_button:hover {cursor: pointer;}


section > a > img {margin: 100px 0;}

