@charset "utf-8";

 .sub_content_top{margin: 0 auto; width: 1200px;}

.cate_list > span {color: #777; font-size: 12px;float: left; margin: 37px 3px 0 0;}
.cate_list > ul {float: left; width: 150px; height: 25px; border: 1px solid #ddd; font-size: 12px;}
.cate_list > ul:last-child {margin: 0 600px 0 0;}
.sub_warp {margin: 25px 0; height: 700px;}
.cate_list > div {display: inline-block; border: 1px solid #999999; width: 150px; height: 26px; margin: 30px 3px 0 0 ;}

.cate_list > div > span {font-size: 11px; color: #333; margin: 8px 0 0 10px; display: inline-block;}
.cate_list > p {display: inline-block; color: #777; font-size: 12px;}
.cate_list > div > img {float: right;}


.sub_content_box {display: inline-block; float: right; position: relative; width: 556px;}
.sub_content_box > .sub_content_title {border-bottom: 1px solid #ddd; margin: 5px;}


.sub_content_title {height: 120px;}
.sub_content_title > h3 {line-height: 20px; font-weight: bold; margin: 10px 0 15px 0;}
.sub_content_title > span:first-child {font-size: 14px; font-weight: bold; color: #333; display: inline-block; margin: 10px 0 0 0;}
.sub_content_title > button {background-color: #fff; font-size: 12px; font-weight: 400; display: inline-block; border: 1px solid #333; padding: 2px 10px 2px 10px; margin-left: 3px;}
.sub_content_title > button:last-child {float: right; border: 1px solid #dbdbdb; width: 60px; height: 30px; color: #333; font-weight: bold; margin: -10px 0 0 0;}

.sub_select {display: inline-block; width: 100%; border-top: 1px solid #dbdbdb; margin: 20px 0; padding: 20px 0; border-bottom: 1px solid #999;}
.sub_select > dt {display: inline-block; width: 150px;}
.sub_select > select {padding: 0 0 0 8px; width: 380px; height: 30px; color: #717171; font-weight: bold; display: inline-block; float: right; margin: 0 20px 0 0; border: 1px solid #ddd;}

.payment {width: 100%;}
.payment > button:first-child {width: 230px; background-color: #333; color: #fff; border: 1px solid #333;}
.payment > button {background-color: #fff; width: 152px; height: 45px; display: inline-block; margin: 0 1.7px; font-weight: bold; border: 1px solid #d0d0d0;}

.payment_img {float: right;}
.payment_img > div > a > img {width: 285px; border-radius: 6px; margin: 15px 0;}
.payment_img > a {height: 40px; overflow: hidden; display: inline-block;}
.payment_img > hr {border: 1px solid #2b2f3a;}
.payment_img > #npay {width: 79px;}
.payment_img > #naver_pur {border: 1px solid #bfc4c7; width: 150px; height: 40px; border-color: #00bd39; background-color: #00c73c; text-align: center;}
#naver_pur > img {margin: -32px;}
.payment_img > #naver_smd {width: 35px; height: 40px; overflow: hidden; border: 1px solid #bfc4c7; text-align: center;}
#naver_smd > img {margin: 3px 0;}

.item_img {float: left; width: 600px;}
#item_img_top {width: 600px; display: inline-block;}
#item_img_bottom > a {margin: 0 0 0 50px; display: inline-block;}
#item_img_bottom > a > img {width: 80px; margin: 2px 2px 2px 2px;}
#item_img_bottom > a > img:hover {border: 2px solid #333; margin: 0;}

.ai_sug {width: 1200px; height: 500px; margin-top: 120px;}
.ai_box {width: 270px; height: 380px; display: inline-block; text-align: center; margin: 10px 0 0 20px; float: left;}
.ai_sug > h3 {font-weight: bold}
.ai_box > img {width: 100%; display: inline-block; float: left;}
.ai_box > div {position: relative;}
.ai_box > div > strong {font-size: 14px; width: 270px; display: inline-block; display: absolute; margin: 8px; font-weight: bold; line-height: 20px;}

.ai_box:hover {cursor: pointer;}

.sub_content_info > dl {margin: 12px 0; float: left; width: 100%;}
.sub_content_info > dl > #icon {text-align: center; background-color: darkblue; display: inline-block; width: 15px; height: 15px; color: #fff; font-size: 10px; line-height: 13px;}
.sub_content_info > dl > dt {display: inline-block; font-size: 15px; font-weight: bold; width: 150px;}
.sub_content_info > dl > strong {font-weight: bold;}
.sub_content_info > dl > p {display: inline-block; text-decoration: line-through; font-size: 12px; font-weight: bold;}
.sub_content_info > dl > dd {display: inline-block; font-size: 13px; float: right; width: 72%;}
.sub_content_info > dl > dd > a {color: #333; font-size: 13px; display: inline-block; font-weight: bold; width: 60%;}
.sub_content_info > dl > dd > a:nth-child(3) {margin-left: 73px; margin-top: 5px;}
.sub_content_info > dl > dd > button {border: 1px solid #dbdbdb; background-color: #fff; font-size: 11px; font-weight: bold; width: 120px; height: 25px;}
.sub_content_info > dl > dd > strong:first-child {display: inline-block;}
.sub_content_info > dl > dd > strong {font-size: 13px; display: block;}

.sub_select {font-weight: bold;}

.sub_content_middle {width: 1200px; margin: 0 auto;}
.sub_content_middle > .content_menu {height: 50px;}
.sub_content_middle > div > ul > .on > a {padding-top: 18px; margin-top: -8px; color: #333333; font-weight: bold; border: 1px solid #bbbbbb; border-bottom: 1px solid #ffffff; border-top: 1px solid #333333;}
.sub_content_middle > div > ul > li {float: left; width: 20%; text-align: center;  z-index: 10;}
.sub_content_middle > div > ul > li > a {display: block; color: #999999; border: 1px solid #dadada; margin: 0 0 0 -1px; padding: 10px 0 12px 0; font-size: 13px;}
.mid_content_info > .imgbox {margin: 50px auto; text-align: center;}
.imgbox > img {max-width: 100%;}

.sub_content_middle > .sipping {width: 1200px; height: 1000px; margin: 0 auto;}

.sip_info {padding-bottom: 80px;}
.letter {font-weight: bold;}
.deltop {padding: 45px 0 10px 0;}
.sip_info p {line-height: 1.5; font-size: 11pt;}

.return_img_box p {font-size: 11pt; margin: 50px 0 20px; display: block; width: 100%;}
.return_img_box > img {margin:0 14% 50px ; display: inline-block;}

.plus_review_info {
    display: block;
    padding: 20px 0 20px 0;
    border: 1px solid #dbdbdb;
}
.plus_review_num {
    display: inline-block;
    overflow: hidden;
    width: 31%;
    height: 150px;
    vertical-align: top;
}

.plus_review_num_cont {
    padding: 5px 10px 5px 10px;
    font-size: 0;
    text-align: center;
}

.plus_review_num_tit {
    display: inline-block;
    min-width: 125px;
    height: 150px;
}
.plus_review_num_tit h4 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}
.plus_review_num_tit > strong {
    font-size: 48px;
    font-weight: bold;
}
.plus_review_num_tit > em {
    display: block;
    color: #333;
    font-size: 14px;
}
.plus_review_num ul {
    display: inline-block;
    padding: 14px 0 14px 0;
    font-size: 12px;
    background: #f8f8f8;
    vertical-align: top;
}
.plus_review_num ul li {
    width: 115px;
    padding: 10px 15px 10px 15px;
    text-align: left;
}
.plus_review_num ul li em {
    display: inline-block;
    width: 70px;
}
.plus_review_num ul li strong {
    text-align: right;
    float: right;
    font-weight: bold;
}

.plus_review_grade {
    display: inline-block;
    width: 42.5%;
    height: 150px;
    margin-left: -1px;
    border-left: 1px solid #ededed;
    vertical-align: top;
}
.plus_review_grade h4 {
    display: block;
    padding: 0 0 5px 0;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}
.plus_review_grade ul {
    width: 100%;
}
.plus_review_grade ul li {
    display: table;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 0;
}
.plus_review_grade .grade_star {
    display: inline-block;
    width: 10%;
    font-size: 12px;
    text-align: center;
}
.plus_review_grade .grade_star span {
    padding: 0 5px 0 0;
    color: #ffcc00;
}
.plus_review_grade .grade_stick {
    display: inline-block;
    width: 83%;
    height: 10px;
    margin: 0;
    background: #f9f9f9;
}
.plus_review_grade .grade_stick em {
    display: inline-table;
    height: 10px;
    background: #333333;
}
.plus_review_grade .grade_num {
    display: inline-block;
    width: 7%;
    font-size: 12px;
    text-align: right;
}

.plus_review_photo {
    display: inline-block;
    width: 25%;
    height: 150px;
    margin-left: -1px;
    border-left: 1px solid #ededed;
    vertical-align: top;
}
.plus_review_photo_cont {
    padding: 5px 20px 5px 30px;
}
.plus_review_photo h4 {
    display: block;
    padding: 0 0 5px 0;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}
.plus_review_photo ul {
    overflow: hidden;
    height: 110px;
    margin: 0 0 0 0px;
}
.plus_review_photo ul li {
    display: inline-block;
    width: 52px;
    height: 52px;
    margin: 0 0 5px 5px;
}

.plus_review_write {
    padding: 20px 0 0 0;
    background: #ffffff;
}
.plus_review_write .plus_review_write_select select {
    width: 74.5%;
    color: #ffcc00;
    font-size: 14px;
}
.plus_review_write .plus_review_write_select option {
    line-height: 24px;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.chosen-container {
    position: relative;
    display: inline-block;
    font-size: 13px;
    user-select: none;
}
#wrap .chosen-container {
    vertical-align: top;
    text-align: left;
}
#wrap .chosen-single {
    height: 31px;
    vertical-align: top;
    outline: none;
    border: 1px solid #dddddd;
}
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #fff;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn_gray_big {
    color: #333;
    font-size: 13px;
}
.btn_gray_list .btn_gray_big {
    height: 31px;
    background-position: 0 -140px;
}
.plus_review_write .btn_layer{
    width: 25%;
    float: right;
    text-align: right;
}
.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url(chosen-sprite.png) no-repeat 0px 2px;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
.btn_layer {
    position: relative;
    display: inline-block;
}
.plus_review_write .btn_layer .btn_gray_big {
    width: 93%;
    height: 29px;
    text-align: center;
}
.btn_gray_list a, .btn_gray_list button {
    display: inline-block;
    padding: 0 0 0 11px;
    background: url(../img/btn_gray_bg.png) repeat-x;
    border: 1px solid #dbdbdb;
    vertical-align: middle;
}
.plus_review_write .btn_layer .btn_gray_big em {
    font-weight: bold;
}

.plus_review_write_cont {
    margin: 10px 0 0 0;
    border: 1px solid #f0f0f0;
}
.plus_review_write_textarea {
    padding: 20px 20px 35px 20px;
    position: relative;
}
.plus_review_write_textarea {
    height: 130px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.plus_review_write .btn_layer .btn_gray_big em {
    font-weight: bold;
}
.btn_gray_list .btn_gray_big em {
    background-position: right -139px;
    line-height: 31px;
}
.btn_gray_list a em, .btn_gray_list button em {
    display: inline-block;
    padding: 0px 20px 0 0;
    background: url(../img/btn_gray_bg.png) no-repeat right top;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.plus_review_write_textarea textarea {
    width: 100%;
    height: 100%;
    color: #333333;
    border: none;
}
.write_textarea_num {
    font-size: 13px;
    text-align: right;
    color: #999999;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.board_commen_agree {
    margin: 20px 0 0 0;
}
.board_commen_agree .form_element {
    display: block;
}
.form_element {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.form_element {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.board_commen_agree textarea {
    display: inline-block;
    width: 98%;
    margin: 10px 0 0 0;
    padding: 10px 10px 10px 10px;
}
.board_commen_agree .agree_choice_box {
    padding: 10px 0 10px 0;
    color: #777777;
    font-size: 11px;
}
.form_element input {
    position: absolute;
    top: 3px;
    left: 1px;
    width: 0;
    z-index: -1;
}
input[type="checkbox"] {
    width: 13px;
    height: 13px;
    vertical-align: top;
}
.form_element label.check_s {
    min-width: 13px;
    padding: 0 0 0 22px;
    background: url(../img/check_off_small.png) no-repeat 1px 2px;
}
.form_element label {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    padding: 0 0 0 27px;
    background: url(../img/check_off.png) no-repeat 1px top;
}
.board_commen_agree .link_agree_go {
    font-size: 11px;
    text-decoration: underline;
    color: #333;
}
.board_commen_agree .entry_name_pw {
    padding: 10px 0 0 0;
    border-top: 1px dotted #cccccc;
}
.board_commen_agree .entry_name_pw dl {
    display: inline-block;
    margin: 0 30px 0 0;
    font-size: 0;
}
.board_commen_agree .entry_name_pw dt {
    display: inline-block;
    padding: 0 10px 0 0;
    font-size: 12px;
}
.board_commen_agree .entry_name_pw dd {
    display: inline-block;
    font-size: 12px;
}
input[type="text"], input[type="password"] {
    padding: 0 10px;
    outline: none;
    font-size: 12px;
}
input[type="text"], input[type="password"] {
    height: 31px;
    padding: 0 5px;
    color: #333333;
    border: 1px solid #d6d6d6;
    line-height: 31px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.review_file_upload {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: -1px 0 0 0;
    border-top: 1px solid #f0f0f0;
}
.review_file_upload .btn_upload_box {
    overflow: hidden;
    position: relative;
    float: left;
    width: auto;
    padding: 0;.plus_review_write_cont .board_write_agree {
    padding: 0 20px 20px 20px;
}
}
.review_file_upload .btn_upload_box .btn_upload {
    width: 68px;
    height: 59px;
    color: #fff;
    border: none;
    background: #ffffff;
    text-align: center;
}
.review_file_upload .btn_upload_box .file {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 59px;
    cursor: pointer;
    opacity: 0;
}
.review_file_upload .file_upload_list {
    float: left;
    font-size: 0;
}
.review_file_upload .btn_right_box {
    float: right;
    width: 140px;
}
.review_file_upload .btn_right_box .btn_plus_review_enroll {
    width: 140px;
    height: 60px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    background: #dd3d42;
}
.plus_review_write_cont .board_write_agree {
    padding: 0 20px 20px 20px;
}

.plus_review_view {
    margin: 30px 0 0 0;
    background: #ffffff;
}
.plus_review_view_list.view_point_bg {
    background: #fcfcfc;
}
.plus_review_view_list {
    display: table;
    width: 100%;
    margin-top: -1px;
    padding: 20px 0 20px 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.plus_review_view_list.view_point_bg {
    background: #fcfcfc;
}
.plus_review_view_list {
    display: table;
    width: 100%;
    margin-top: -1px;
    padding: 20px 0 20px 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.pagination {
    margin: 20px 0 0 0;
}
.plus_review_view .star_day_name {
    display: table-cell;
    width: 15%;
    padding: 0 20px 0 20px;
}
.plus_review_view .option_text_file_box {
    display: table-cell;
    width: 85%;
    padding: 0 20px 0 0;
    vertical-align: top;
}
.plus_review_view .star_day_name strong {
    display: block;
    color: #ffcc00;
    font-size: 20px;
}
.plus_review_view .star_day_name span {
    display: block;
    padding: 5px 0 5px 0;
    color: #787878;
}
.plus_review_view .star_day_name span {
    display: block;
    padding: 5px 0 5px 0;
    color: #787878;
}

.plus_review_view_list.view_point_bg {
    background: #fcfcfc;
}
.plus_review_view_list {
    display: table;
    width: 100%;
    margin-top: -1px;
    padding: 20px 0 20px 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.plus_review_view .star_day_name {
    display: table-cell;
    width: 15%;
    padding: 0 20px 0 20px;
}
.plus_review_view .star_day_name span {
    display: block;
    padding: 5px 0 5px 0;
    color: #787878;
}

.plus_review_view .option_text_file_box {
    display: table-cell;
    width: 85%;
    padding: 0 20px 0 0;
    vertical-align: top;
}